@font-face {
    font-family: 'Montserrat';
    src: local('../fonts/Montserrat/Montserrat'), local('Montserrat'),
        url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }